.main {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 61px;
    background-color: #fff;
    border-radius: 20px;
    max-width: 560px;
    padding: 50px 60px;
    overflow: hidden;
}

.main_head {
    display: flex;
    align-items: center;
}

.main_head a {
    background-color: #EBEBEB;
    border-radius: 50%;
    padding: 10px;
    display: flex;
}

.main_head h1 {
    margin: 0;
    margin-left: 20px;
    font-size: 34px;
}

.main_fields {
    margin-top: 40px;
}

.main_fields label {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.main_fields label input {
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: -20px;
    padding: 13px 20px;
    color: #8D31D6;
    font-size: 18px;
    background-color: #F8F8F8;
    border: 1px solid #C479FF;
    outline: none;
    border-radius: 55px;
}

.main_fields_button {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main_fields_button button {
    border-radius: 45px;
    padding: 13px 20px;
    font-size: 20px;
    background-color: #C479FF;
    border: none;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
}