.popup_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    padding: 20px 10px 100px 10px;
    overflow-y: scroll;
    background-color: #0000004a;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.header_head_left_logo{
    height: 40px;
    display: block;
}
.header_head_left_logo img{
    width: 100%;
    height: 100%;
}
.footer_big_logo{
    height: 60px;
}
.footer_big_logo img{
    width: 100%;
    height: 100%;
}

.popup_background::-webkit-scrollbar {
    display: none;
}

.popup_close {
    display: flex;
    justify-content: space-between;
}

.popup_close span { 
    color: #C479FF;
    font-size: 16px;
}

.popup_close_block {
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: 0px;
}

.popup_close_block div {
    position: absolute;
    width: 18px;
    height: 1px;
    margin-top: 7px;
    background-color: #000000;
}

.popup_close_block div:first-child {
    transform: rotate(45deg);
}

.popup_close_block div:last-child {
    transform: rotate(-45deg);
}

.popup {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.popup_filter {
    display: flex;
    flex-direction: column;
}

.popup_filter h2, .popup_price h2, .popup_old h2, .popup_stamps h2, .popup_specifications h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
}

.popup_specifications h2 {
    margin-bottom: 0;
}

.popup_filter select {
    padding: 12px 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    color: #999;
    font-size: 16px;
    appearance: none;
    outline: none;
    background-image: url('../img/select_str.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.popup_price_input, .popup_old_input, .popup_specifications_block_input {
    display: flex;
    margin-top: 10px;
}

.popup_price_input input, .popup_old_input input, .popup_specifications_block_input input {
    width: 50%;
    border: 1px solid #E2E2E2;
    padding: 12px 15px;
    font-size: 16px;
    outline: none;
    color: #999;
}

.popup_price_input input, .popup_old_input input, .popup_specifications_block_input input {
    color: #999;
}

.popup_price_input input:first-child, .popup_old_input input:first-child, .popup_specifications_block_input input:first-child  {
    border-radius: 5px 0 0 5px;
}

.popup_price_input input:last-child, .popup_old_input input:last-child, .popup_specifications_block_input input:last-child  {
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

.popup_stamps_list_block {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.popup_stamps_list_block img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.popup_stamps_list_block span {
    font-size: 16px;
    font-weight: 400;
}

.popup_stamps_all {
    display: block;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
    color: #C479FF;
    font-size: 16px;
}

.popup_specifications_block {
    margin-top: 15px;
}

.popup_specifications_block_text {
    position: relative;
    display: block;
}

.popup_specifications_block_text::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    right: 0px;
    top: 4px;
    background: url('../img/menu_str.svg') no-repeat;
    background-size: 10px;
    transition: transform 0.5s;
}

.popup_specifications_block_text_click::after {
    transform: rotate(180deg); 
}

.main {
    margin: 20px auto;
    max-width: 1410px;
}

.main_search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 15px;
}

.main_search_left_button {
    width: 200px;
    height: 45px;
    background-color: #fff;
    color: #808080;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}

.main_search_left_button:first-child {
    margin-right: 20px;
}

.main_search_left_button_active {
    background-color: #C479FF;
    color: #fff;
    font-weight: 600;
    border: none;
}

.main_search_right {
    position: relative;
}

.main_search_right_input {
    box-sizing: border-box;
    width: 360px;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    color: #CCCCCC;
    border: 1px solid #C479FF;
    border-radius: 30px;
}

.main_search_right_input::placeholder {
    color: #CCCCCC;
}

.main_search_right_search {
    position: absolute;
    right: 20px;
    top: 10px;
}

.main_menu {
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 0 15px;
}

.main_menu_nav {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
}

.main_menu_nav_list {
    margin-right: 40px;
    min-width: 200px;
}

.main_menu_nav_list_catalog {
    margin-right: 30px;
}

.main_menu_nav_list_catalog, .main_menu_nav_list_applications {
    color: #808080;
    font-weight: 400;
    font-size: 18px;
}

.main_menu_nav_list_active {
    font-weight: 600;
    color: #8D31D6;
    border-bottom: 1px solid #C479FF;
}

.main_menu_filter {
    display: flex;
    max-width: 820px;
    overflow: scroll;
    margin-right: 10px;
}

.main_menu_filter::-webkit-scrollbar {
    display: none;
}

.main_menu_filter_button {
    background-color: #EBEBEB;
    margin-right: 10px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-radius: 30px;
    white-space: nowrap;
}

.main_menu_filter_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 320px;
    top: 12px
}

.main_menu_select {
    display: flex;
    justify-content: flex-end;
    min-width: 300px;
}

.main_menu_select_one, .main_menu_select_two {
    box-sizing: border-box;
    position: relative;
    outline: none;
    appearance: none;
    padding: 7px 30px 7px 10px;
    margin-left: 10px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    background: url('../img/select.svg') no-repeat;
    background-position: 95% 50%;
}

.main_menu_smal {
    display: none;
    background-color: #fff;
    border: 1px solid #E2E2E2;
    padding: 9px 7px 6px 7px;
    border-radius: 5px;
}

.main_cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.main_cards_card {
    display: flex;
    margin-top: 20px;
    width: calc(50% - 20px);
    background-color: #fff;
    border-radius: 20px;
}

.main_cards_card:nth-child(odd) {
    margin-right: 40px;
}

.main_cards_card_img {
    position: relative;
}

.main_cards_card_img_like {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.main_cards_card_text {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.main_cards_card_text_left {
    position: relative;
}

.main_cards_card_text_left a {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #000;
}

.main_cards_card_text_left_description {
    margin-top: 5px;
    display: flex;
}

.main_cards_card_text_left_description_one {
    margin-right: 20px;
}

.main_cards_card_text_left_description_one span, .main_cards_card_text_left_description_two span {
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 17px;
    color: #808080;
}

.main_cards_card_text_left_location {
    position: absolute;
    bottom: 0;
    font-weight: 400;
    font-size: 14px;
}

.main_cards_card_text_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main_cards_card_text_right_top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main_cards_card_text_right_top_price {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.main_cards_card_text_right_top_distance {
    font-size: 16px;
    font-weight: 400;
}

.main_cards_card_text_right_bottom_views {
    color: #CCCCCC;
    font-size: 14px;
    font-weight: 400;
}

.main_cards_card_text_right_bottom_time {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #808080;
}



@media (max-width: 1280px) {
    .main_menu {
        padding: 0 35px;
        margin: 0;
    }

    .main_cards_card {
        flex-direction: column;
        width: calc(50% - 10px);
    }

    .main_cards_card:nth-child(odd) {
        margin-right: 20px;
    }
    
    .main_cards_card_img_main {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .main_cards_card_text {
        position: relative;
        flex-direction: column;
    }

    .main_cards_card_text_right {
        position: static;
        flex-direction: row;
        margin-top: 10px;
    }

    .main_cards_card_text_left_description {
        margin-top: 10px;
    }

    .main_cards_card_text_left_location {
        display: none;
    }

    .main_cards_card_text_right_top_price {
        position: absolute;
        top: -50px;
        left: 20px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        background-color: #C479FF;
        padding: 5px 10px;
        border-radius: 50px;
        margin: 0;
    }

    .main_cards_card_text_right_bottom_views {
        display: none;
    }
}

@media (max-width: 1024px) {
    .main {
        margin-top: 10px;
    }
    
    .main_search {
        margin: 10px;
    }
        
    .main_search_left, .main_search_right, .main_search_right_input {
        width: 100%;
    }

    .main_search_right {
        margin-top: 10px;
    }

    .main_search_left_button:first-child {
        margin-right: 10px;
    }

    .main_search_left_button {
        width: calc(50% - 8px);
    }
}

@media (max-width: 768px) {
    .main_cards {
        margin-bottom: 85px;
    }

    .main_menu_filter, .main_menu_select {
        display: none;
    }
    
    .main_menu_smal {
        display: block;
    }

    .main_menu_nav {
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .main_cards_card {
        width: 100%;
        margin-right: 0 !important;
    }
}