.nav {
    margin: 0px auto;
    max-width: 1410px;
}

.nav ul {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    color: #7C7C7C;
    font-size: 16px;
}

.nav ul span {
    color: #7C7C7C;
    font-size: 16px;
}

.main {
    display: flex;
    margin: 0px auto;
    max-width: 1410px;
    align-items: flex-start;
}

.main_left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.main_left_gallery {
    position: relative;
    width:  100%;
}

.main_left_gallery_slider {
    height: 416px;
    border-radius: 20px;
}

.main_left_gallery_slider_item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
  
.main_left_gallery_slider_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
  
.main_left_gallery_slider_item_active  {
    display: block;
}

.main_left_gallery_dots {
    position: absolute;
    top: 425px;
    left: 0px;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
}

.main_left_gallery_dots::-webkit-scrollbar {
    display: none;
}

.main_left_gallery_dot {
    box-sizing: border-box;
    margin-right: 6px;
    height: 87px;
}

.main_left_gallery_dot:last-child {
    margin-right: 0;
}

.main_left_gallery_dot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.main_subleft {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}
.main_subleft_complain {
    color: #C479FF;
}
.main_subleft_other span {
    margin-left: 20px;
}

.main_subleft_other span:first-child {
    position: relative;
}

.main_subleft_other span:first-child::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 12px;
    left: -20px;
    top: 3px;
    background: url('../img/glaz.svg') no-repeat;
    background-size: 17px;
}

.main_mid {
    box-sizing: border-box;
    width: calc(40% - 30px);
    margin-left: 30px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.main_mid_top {
    display: flex;
    flex-direction: column;
}

.main_mid_top_name {
    font-size: 24px;
    font-weight: 600;
}

.main_mid_top_price {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 700;
}

.main_mid_subtop {
    padding: 20px 0;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_mid_subtop_profile {
    display: flex;
    align-items: center;
}

.main_mid_subtop_profile img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.main_mid_subtop_profile_text {
    display: flex;
    flex-direction: column;
}

.main_mid_subtop_profile_text_name {
    font-size: 18px;
}

.main_mid_subtop_profile_text_id {
    font-size: 14px;
    font-weight: 300;
    color: #B3B3B3;
}

.main_mid_subtop_button {
    position: relative;
    background-color: #C479FF;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px 10px 40px;
    border: none;
    border-radius: 10px;
}

.main_mid_subtop_button::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 11px;
    background: url('../img/massege_ico.svg') no-repeat;
    background-size: 18px;
}

.main_mid_center_list {
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #DDDDDD;
}

.main_mid_center_list_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.main_mid_center_list_block li {
    list-style: none;
    font-size: 16px;
}
.main_mid_center_list_block li:first-child {
    color: #808080;
}

.main_mid_bottom_com {
    padding: 20px 0;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.main_mid_bottom_com h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.main_mid_bottom_com span {
    font-size: 16px;
}

.main_mid_bottom_ful {
    color: #C479FF;
    font-size: 16px;
}

.main_right {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: -48px;
    width: calc(20% - 30px);
}

.main_right h2 {
    margin: 0;
    font-size: 24px;
}

.main_right_card {
    display: flex;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    flex-direction: column;
}

.main_right_card_img_main {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.main_right_card_img {
    position: relative;
}

.main_right_card_img_like {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.main_right_card_img_price {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-color: #C479FF;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0;
}

.main_right_card_text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.main_right_card_text a {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #000;
}

.main_right_card_text_description {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.main_right_card_text_description span {
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 17px;
    color: #808080;
}

.main_right_card_text_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
}

.main_right_card_text_bottom_distance {
    font-size: 16px;
    font-weight: 400;
}

.main_right_card_text_bottom_time {
    font-size: 14px;
    font-weight: 300;
    color: #808080;
}