.main {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 61px;
    background-color: #fff;
    border-radius: 20px;
    max-width: 900px;
    padding: 40px 40px 50px 40px;
    overflow: hidden;
}

.main_left {
    position: relative;
    width: 53%;
    z-index: 1;
}

.main_left_head {
    display: flex;
}

.main_left_head a {
    background-color: #EBEBEB;
    border-radius: 50%;
    padding: 12px;
    display: flex;
}

.main_left_head h1 {
    margin: 0;
    margin-left: 20px;
    font-size: 36px;
}

.main_left_for {
    margin-top: 40px;
    display: flex;
    margin-bottom: 30px;
}

.main_left_for_button{
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 20px;
    color: #999999;
    background-color: #fff;
    border: 1px solid #E2E2E2;
    width: 210px;
    padding: 12px;
    text-align: center;
    font-weight: 400;
}

.main_left_for_button_active {
    box-sizing: border-box;
    background-color: #C479FF;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 20px;
    width: 210px;
    padding: 12px;
    text-align: center;
    font-weight: 600;
}

.main_left_register label {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.main_left_register label input {
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: -20px;
    padding: 13px 20px;
    color: #8D31D6;
    font-size: 18px;
    background-color: #F8F8F8;
    border: 1px solid #C479FF;
    outline: none;
    border-radius: 55px;
}

.main_left_register label input::placeholder {
    color: #8D31D6;
}

.main_left_register_button {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main_left_register_button button {
    border-radius: 45px;
    padding: 13px 20px;
    font-size: 20px;
    background-color: #C479FF;
    border: none;
    color: #fff;
    margin-bottom: 10px;
}

.main_left_register_button span {
    font-size: 16px;
}

.main_left_register_button span a {
    color: #8D31D6;
}

.main_right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.main_right img {
    height: 100%;
}

.main_right_ul {
    right: -100px;
}